<h1>Sign up</h1>
<br>
<%= form_for(@user) do |f| %>
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>
  <br>

  <% Newspaper.all.each do |paper| %>
    <%= paper.title %>
    <br>
    <select name="user[subscription_plan_ids][]">
      <br>
      <option value="">Select plan</option>
      <% paper.subscription_plans.each do |plan| %>
        <option value="<%=plan.id%>"><%=plan.title%></option>
      <% end %>
    </select>
    <br>
    <br>
  <% end %>
  <%= hidden_field_tag "user[subscription_plan_ids][]" %>
  <%= f.submit %>
<% end %>